# Homework 4: Applying Functions and Iteration

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell.

In [2]:
# Don't change this cell; just run it. 
import numpy as np
from datascience import *

## 1. UNC Football

You will analyze how well the UNC football team performed in the 2018-2022 seasons. A football game is divided into four quarters. If the game is tied after the 4th quarter, the game goes into overtime. The number of points that UNC scored in each quarter and overtime (multiple overtimes if needed), and the number of points that their opponent scored in each quarter and overtime (multiple overtimes if needed) are stored in a table called `UNC_fb23.csv`.

In [2]:
# Just run this cell
UNC_fb = Table().read_table("UNC_fb23.csv")
UNC_fb

Year | Opponent      | UNC 1Q | UNC 2Q | UNC 3Q | UNC 4Q | UNC OT | Opp 1Q | Opp 2Q | Opp 3Q | Opp 4Q | Opp OT
2018 | California    | 0      | 0      | 3      | 14     | 0      | 7      | 10     | 7      | 0      | 0
2018 | East Carolina | 6      | 13     | 0      | 0      | 0      | 7      | 14     | 7      | 13     | 0
2018 | Pittsburgh    | 7      | 14     | 17     | 0      | 0      | 7      | 21     | 0      | 7      | 0
2018 | Miami FL      | 10     | 0      | 0      | 0      | 0      | 14     | 19     | 0      | 14     | 0
2018 | Virginia Tech | 6      | 3      | 7      | 3      | 0      | 7      | 0      | 7      | 8      | 0
2018 | Syracuse      | 7      | 0      | 17     | 3      | 10     | 0      | 13     | 7      | 7      | 13
2018 | Virginia      | 7      | 7      | 0      | 7      | 0      | 14     | 3      | 7      | 7      | 0
2018 | Georgia Tech  | 7      | 3      | 10     | 8      | 0      | 7      | 14     | 7      | 10     | 0
2018 | Duke          | 14     | 14     | 0      | 7      | 0      | 14     | 21     | 7      | 0      | 0
2018 | WCU           | 14     | 21     | 14     | 0      | 0      | 7      | 9      | 3      | 7      | 0
... (53 rows omitted)

Let's start by finding the total points each team scored in a game.

**Question 1.1.** Write a function called `Sum_Scores`.  It should take five arguments, where each argument is the team's score for that quarter or overtime. It should return the team's total score for that game.


<!--
BEGIN QUESTION
name: q1_1
manual: false
-->

In [7]:
def Sum_Scores(q_one, q_two, q_three, q_four, ot):
    '''Returns the total score calculated by adding up the score of each quarter and overtime'''
    scores = make_array(q_one, q_two, q_three, q_four, ot)
    return sum(scores)

Sum_Scores(14, 7, 3, 0, 0) #DO NOT CHANGE THIS LINE

24

**Question 1.2.** Create a new table `Final_Scores` with four columns in this *specific* order: `Year`, `Opponent`, `UNC Score`, `Opponent Score`. Create the `UNC Scores` and `Opponent Scores` arrays used for the columns of this table using the function `Sum_Scores` that you defined in the previous question.

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function.

*Tip:* If you’re running into issues creating `Final_Scores`, check that `UNC_Scores` and `Opponent_Scores` arrays output what you want. 


<!--
BEGIN QUESTION
name: q1_2
manual: false
-->

In [13]:
UNC_Scores = UNC_fb.apply(Sum_Scores, 'UNC 1Q', 'UNC 2Q', 'UNC 3Q', 'UNC 4Q', 'UNC OT')
Opponent_Scores = UNC_fb.apply(Sum_Scores, 'Opp 1Q', 'Opp 2Q', 'Opp 3Q', 'Opp 4Q', 'Opp OT')
Final_Scores = UNC_fb.select('Year', 'Opponent').with_column(
    'UNC Scores', UNC_Scores).with_column(
    'Opponent Scores', Opponent_Scores)
Final_Scores

Year | Opponent      | UNC Scores | Opponent Scores
2018 | California    | 17         | 24
2018 | East Carolina | 19         | 41
2018 | Pittsburgh    | 38         | 35
2018 | Miami FL      | 10         | 47
2018 | Virginia Tech | 19         | 22
2018 | Syracuse      | 37         | 40
2018 | Virginia      | 21         | 31
2018 | Georgia Tech  | 28         | 38
2018 | Duke          | 35         | 42
2018 | WCU           | 49         | 26
... (53 rows omitted)

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [14]:
# Just run this cell
UNC_fb.row(10)

Row(Year=2018, Opponent='NC State', UNC 1Q=0, UNC 2Q=6, UNC 3Q=15, UNC 4Q=7, UNC OT=0, Opp 1Q=7, Opp 2Q=0, Opp 3Q=14, Opp 4Q=7, Opp OT=6)

In [15]:
# Just run this cell
UNC_fb.row(10).item("UNC 1Q")

0

**Question 1.3.** We want to see for a particular game whether or not UNC won. Write a function called `Did_UNC_Win`.  It should take one argument: a row object (*not* a row number) from the `Final_Scores` table. It should return either `True` (the boolean value and *not* a string) if UNC's score was greater than the Opponent's score, and `False` otherwise. 


<!--
BEGIN QUESTION
name: q1_3
manual: false
-->

In [23]:
def Did_UNC_Win(row):
    return row.item('UNC Scores') > row.item('Opponent Scores')
        
Did_UNC_Win(Final_Scores.row(2))

True

**Question 1.4.** You want to see how UNC did against every opponent during the 2022 season. Using the `Final_Scores` table, assign `results` to an array of `True` and `False` values that correspond to whether or not UNC won during each game in the 2018 - 2022 seasons. Add the `results` array to the `Final_Scores` table, and assign this to `Final_Scores_With_Results`. Then, respectively assign the number of wins and losses UNC had in 2022 to `UNC_wins_2022` and `UNC_losses_2022`.

*Hint*: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`


<!--
BEGIN QUESTION
name: q1_4
manual: false
-->

In [28]:
results = Final_Scores.apply(Did_UNC_Win)
Final_Scores_With_Results = Final_Scores.with_column('Results', results)
UNC_wins_2022 = Final_Scores_With_Results.where('Results', True).num_rows
UNC_losses_2022 = Final_Scores_With_Results.where('Results', False).num_rows

# Don't delete or edit the following line:
print(f"In the 2022 season, UNC won {UNC_wins_2022} games and lost {UNC_losses_2022} games. Go Tar Heels!")

In the 2022 season, UNC won 32 games and lost 31 games. Go Tar Heels!

**Question 1.5.** When UNC was leading at the end of the 3rd quarter (for games across all years in the data), what proportion of these specific games did UNC go on to win? Assign this proportion to `UNC_Win_Prop_3QLead`. To answer this question you should use much of the same process used on the previous questions, but you will need to write new functions to do so. You can (should) do this over multiple steps.

<!--
BEGIN QUESTION
name: q1_5
manual: false
-->

In [42]:
def Sum_Three_Scores(q_one, q_two, q_three):
    '''Returns the total score calculated by adding up the score of the first three quarters'''
    scores = make_array(q_one, q_two, q_three)
    return sum(scores)

UNC_Q3_Scores = UNC_fb.apply(Sum_Scores, 'UNC 1Q', 'UNC 2Q', 'UNC 3Q', 'UNC 4Q', 'UNC OT')
Opponent_Q3_Scores = UNC_fb.apply(Sum_Scores, 'Opp 1Q', 'Opp 2Q', 'Opp 3Q', 'Opp 4Q', 'Opp OT')
Q3_Scores = UNC_fb.select('Year', 'Opponent').with_column(
    'UNC Q3 Total', UNC_Q3_Scores).with_column(
    'Opponent Q3 Total', Opponent_Q3_Scores)

def Is_UNC_Up(row):
    return row.item('UNC Q3 Total') > row.item('Opponent Q3 Total')

Q3_results = Q3_Scores.apply(Is_UNC_Up)
Q3_Scores_results = Final_Scores_With_Results.with_column('UNC Up?', Q3_results)
UNC_is_up = Q3_Scores_results.where('UNC Up?', True)
UNC_stayed_up = Q3_Scores_results.where('UNC Up?', True).where('Results', True)

In [43]:
UNC_Win_Prop_3QLead  = UNC_stayed_up.num_rows / UNC_is_up.num_rows
print(f"When leading at the end of the 3rd quarter during the 2018-2022 seasons, UNC won {round(UNC_Win_Prop_3QLead*100)}% of the games")

When leading at the end of the 3rd quarter during the 2018-2022 seasons, UNC won 100% of the games

## 2. Unrolling Loops

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling `for` loops.


In each question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

First, run the cell below to load data that will be used in a few questions.  It's a table with 52 rows, one for each type of card in a deck of playing cards.  A playing card has a "suit" ("♠︎", "♣︎", "♥︎", or "♦︎") and a "rank" (2 through 10, J, Q, K, or A).  There are 4 suits and 13 ranks, so there are $4 \times 13 = 52$ different cards.

In [3]:
deck = Table.read_table("deck.csv")
deck

Rank | Suit
2    | ♠︎
2    | ♣︎
2    | ♥︎
2    | ♦︎
3    | ♠︎
3    | ♣︎
3    | ♥︎
3    | ♦︎
4    | ♠︎
4    | ♣︎
... (42 rows omitted)

**Question 2.1.** Unroll the code below.

*Hint:* `np.random.randint` returns a random integer between 0 (inclusive) and the value that's passed in (exclusive).

<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [5]:
# This table will hold the cards in a randomly-drawn hand of
# 5 cards.  We simulate cards being drawn as follows: We draw
# a card at random from the deck, make a copy of it, put the
# copy in our hand, and put the card back in the deck.  That
# means we might draw the same card multiple times, which is
# different from a normal draw in most card games.
hand = Table().with_columns("Rank", make_array(), "Suit", make_array())
for suit in np.arange(5):
    card = deck.row(np.random.randint(deck.num_rows))
    hand = hand.with_row(card)
hand

Rank | Suit
4    | ♥︎
J    | ♠︎
7    | ♣︎
8    | ♦︎
J    | ♣︎

In [7]:
hand = Table().with_columns("Rank", make_array(), "Suit", make_array())
card = deck.row(np.random.randint(deck.num_rows))
hand = hand.with_row(card)
card = deck.row(np.random.randint(deck.num_rows))
hand = hand.with_row(card)
card = deck.row(np.random.randint(deck.num_rows))
hand = hand.with_row(card)
card = deck.row(np.random.randint(deck.num_rows))
hand = hand.with_row(card)
card = deck.row(np.random.randint(deck.num_rows))
hand = hand.with_row(card)

hand

Rank | Suit
5    | ♦︎
3    | ♦︎
2    | ♦︎
10   | ♣︎
3    | ♠︎

**Question 2.2.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_2
manual: false
-->

In [8]:
for joke_iteration in np.arange(4):
    print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Orange.
Orange who?
Orange you glad I didn't say banana?

In [9]:
print("Knock, knock.")
print("Who's there?")
print("Banana.")
print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Banana.")
print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Banana.")
print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Banana.")
print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Orange.
Orange who?
Orange you glad I didn't say banana?